@font-face {
  font-family: "Galgo";
  src:
    local("Galgo"),
    url("../assets/fonts/GalgoVF.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dirtyline";
  src:
    local("Dirtyline"),
    url("../assets/fonts/Dirtyline.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
